{% extends 'base.html.twig' %}

{% block body %}
    <h1>liste des interventions</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>libelleintervention</th>
                <th>nomagence</th>
                <th>ville</th>
                <th>dateprevu</th>
                <th>etat</th>
            </tr>
            </thead>
        <tbody>
                     
                <tr>
                    <td>{{ interventions.libelleintervention }}</td>
                  
                    <td>{{ interventions.etat }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('intervention/{id}/edit', { 'id': interventions.id }) }}">edit</a>
                    </td>
                </tr>
            
        </tbody>
</table>
{% endblock %}